name: Deploy

on:
  workflow_run:
    workflows: ["Build & Push"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}

          script: |
            cd /opt/counter-app

            echo "IMAGE_TAG=${{ github.sha }}" > .env

            docker login ghcr.io -u USERNAME -p ${{ secrets.GHCR_PAT }}

            docker-compose -f docker-compose.prod.yml pull
            docker-compose -f docker-compose.prod.yml up -d --remove-orphans

            sleep 8

            curl -f http://localhost/health || exit 1
